<!-- Loop through the navigation items -->
{{#foreach navigation}}
	<div class="menu-item-wrapper">
		<a href="{{url absolute="true"}}" class="menu-item nav-{{slug}}{{#if current}} active{{/if}}">{{label}}</a>
	</div>
{{/foreach}}
<!-- End the loop -->

{{#get "tags" limit="all" include="count.posts"}}
	{{#foreach tags}}
		<div class="menu-item-wrapper">
			<a href="{{url}}" class="menu-item menu-item--category nav-{{slug}}{{#if current}} active{{/if}}">{{name}} <span class="drawer__post-count">{{count.posts}}</span></a>
		</div>
	{{/foreach}}
{{/get}}