{{!< default}}

{{#author}} 
<div style="background-image: url({{cover_image}})" class="author-header {{#if cover_image}}with-cover-image{{/if}}">
    <div class="overlay">
        <div class="wrapper-1400">
            <!-- Site Header -->
            <header class="author-header__site-title">
                {{#if @site.logo}}
                    <a href="{{@site.url}}">
                        <img alt="{{@site.title}}" class="author-logo" src="{{@site.logo}}" />
                    </a>
                {{else}}
                    <h1 class="author-site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
                {{/if}}
            </header>

            <div class="author-header-details">
                <!-- Profile Image -->
                {{#if profile_image}}
                    <figure class="profile-image" style="background-image: url({{profile_image}})">
                    </figure>
                {{/if}}

                <section>
                    <!-- Name -->
                    <div class="name">{{name}}</div>

                    <!-- Bio -->
                    <div class="bio">{{bio}}</div>

                    <!-- links -->
                    <div class="meta">
                        <!-- Social Media Links -->
                        <div class="social-links">
                            {{!-- Twitter --}}
                            {{#if twitter}}
                                <a class="link-with-svg" href="{{twitter_url}}" target="_blank" rel="noopener">
                                    <span class="link-svg">
                                        {{> "icons/twitter"}}
                                    </span>
                                    <span class="link-text">Twitter</span>
                                </a>
                            {{/if}}

                            {{!-- Facebook --}}
                            {{#if facebook}}
                                <a class="link-with-svg" href="{{facebook_url}}" target="_blank" rel="noopener">
                                    <span class="link-svg">
                                        {{> "icons/facebook"}}
                                    </span>
                                    <span class="link-text">Facebook</span>
                                </a>
                            {{/if}}
                                            
                            {{!-- RSS --}} 
                            <a class="link-with-svg" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" target="_blank" rel="noopener">
                                <span class="link-svg rss">
                                    {{> "icons/rss"}}
                                </span>
                                <span class="link-text">RSS</span>
                            </a>
                        </div>
                        
                        {{!-- Location --}}
                        {{#if location}}
                            <div class="separator">
                                /
                            </div>
                            <div class="location">
                                <span class="svg-container">
                                    {{> "icons/location"}}
                                </span>
                                <span class="text">
                                {{location}}
                                </span>
                            </div>
                        {{/if}}

                        {{!-- Website --}}      
                        {{#if website}}
                            <div class="separator">
                                /
                            </div>
                            <div class="website">
                                <span class="svg-container">
                                    {{> "icons/link"}}
                                </span>
                                <span class="text">
                                    <a class="" href="{{website}}" target="_blank" rel="noopener">{{website}}</a>
                                </span>
                            </div>
                        {{/if}}
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
{{/author}}

<div class="site-content">
    <!-- All posts -->
    <div class="wrapper-1400">
        <div class="post-feed">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
        
        {{pagination}}
    </div>
</div>

{{> "footer"}}

{{#contentFor "scripts"}}
<script type="text/javascript">
    var current_page = "author-view";
</script>
{{/contentFor}}