{{!< default}}

{{#post}}

{{!-- Site Header --}}
<div class="post-view-header">
	<div class="left">
		{{#if @site.logo}}
			<a href="{{@site.url}}">
				<img class="post-view-header__logo" alt="site logo" src="{{@site.logo}}">                    
			</a>
		{{else}}
			<h2 class="post-view-header__title"><a href="{{@site.url}}">{{@site.title}}</a></h2>
		{{/if}}
	</div>
	<div class="right">
		<div class="post-sharing-icons">
			<div class="share-text">Share</div>
			<div class="post-sharing-icons__wrapper">
				{{!-- Twitter --}}
				<a class="post-sharing-icon" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
					onclick="window.open(this.href, 'share-twitter', 'width=550,height=235');return false;">
					<span class="icon icon--twitter">{{> "icons/twitter"}}</span>
					<span class="title">Twitter</span>
				</a>

				{{!-- Facebook --}}
				<a class="post-sharing-icon " href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
					onclick="window.open(this.href, 'share-facebook','width=580,height=296');return false;">
					<span class="icon icon--facebook">{{> "icons/facebook"}}</span>
					<span class="title">Facebook</span>
				</a>

				{{!-- Pinterest --}}
				<a class="post-sharing-icon " href="http://pinterest.com/pin/create/link/?url={{url absolute="true"}}"
					onclick="window.open(this.href, 'share-pinterest','width=580,height=296');return false;">
					<span class="icon icon--pinterest">{{> "icons/pinterest"}}</span>
					<span class="title">Pinterest</span>
				</a>
			</div>
		</div>
	</div>
</div>

{{!-- Main Content --}}
<div class="site-content">
    <div class="wrapper-700">
        <article class="{{post_class}}">
            <header>
            	{{!-- Feature Image --}}
            	{{#if feature_image}}
            		<img alt="{{title}}" src="{{feature_image}}">
            	{{/if}}

                <!-- Title --> 
                <div class="post-title">{{title}}</div>

                <!-- Time -->
		        <div class="date">
		        	<time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
		        </div>
            </header>

            <!-- Post content -->
            <section class="post-full-content">
	            {{content}}
	        </section>
        </article>

        <div class="post-end-ellipses"></div>

	    <!-- Authors -->
        <section class="author-details">
        	{{#foreach authors}}
	            {{> "author-card"}}
		    {{/foreach}}
        </section>

        <!-- Next/Prev post links -->
        <section class="next-prev-posts">
        	<!-- Next Post -->
	        {{#next_post}}
	            <div class="newer-post">
	                <a class="button-with-icon" href="{{url}}">
	                    <span class="link-svg">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
	                    </span>
	                    <span class="link-text">{{title}}</span>
	                </a>
	            </div>
	        {{/next_post}}

	        <!-- Previous Post -->
	        {{#prev_post}}
	            <div class="older-post">
	                <a class="button-with-icon" href="{{url}}">
	                    <span class="link-text link-text--right">{{title}}</span>
	                    <span class="link-svg">
	                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
	                    </span>
	                </a>
	            </div>
	        {{/prev_post}}
        </section>

        <!-- Comments -->
        {{!-- <h1 class="comments-header">Comments</h1>
        <section class="post-comments">
        	<div id="disqus_thread"></div>
	        <script>
	            var disqus_config = function () {
	                this.page.url = '{{url absolute="true"}}';
	                this.page.identifier = 'ghost-{{comment_id}}';
	            };
	            (function() {
	                var d = document, s = d.createElement('script');
	                s.src = 'https://test-apkdzgmqhj.disqus.com/embed.js';
	                s.setAttribute('data-timestamp', +new Date());
	                (d.head || d.body).appendChild(s);
	            })();
	        </script>
        </section> --}}
    </div>
</div>

{{/post}}

{{> "footer"}}

{{#contentFor "scripts"}}
	<!-- Fitvids -->
	<script type="text/javascript" src="{{asset "built/js/jquery.fitvids.js"}}"></script>


	<script type="text/javascript">
		$(document).ready(function () {
		    // Start fitVids
		    var $postContent = $(".post-full-content");
		    $postContent.fitVids();
		    // End fitVids

			// Set up gallery if present in the article
		    var images = document.querySelectorAll('.kg-gallery-image img');
		    images.forEach(function (image) {
		        var container = image.closest('.kg-gallery-image');
		        var width = image.attributes.width.value;
		        var height = image.attributes.height.value;
		        var ratio = width / height;
		        container.style.flex = ratio + ' 1 0%';
		    });		
		});
	</script>
{{/contentFor}}